APP_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/postgres
AUTH_TRUST_HOST=true
AUTH_SECRET=auth_secret
JWT_SECRET=jwt_secret
ENCRYPTION_SECRET=encryption_secret
ENCRYPTION_IV=encryption_iv
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=mailhog
SMTP_PASSWORD=mailhog
EMAIL_SENDER_ADDRESS=infotech@ppi-australia.org
